extends layout

block content
  h1 Edit This Hero
  div(class="row")
    div(class="col-md-6 col-md-offset=3")
      a(href="/list") See List of Heros
      h2 Create Hero
      form(action="/update-hero" method="post")
        p
          label(for="heroName") Hero Name
            input(type="text" id="heroName" name="heroName" placeholder="#{hero.hero}")
        p
          label(for="heroPower") Hero Power
            input(type="text" id="heroPower" name="heroPower" placeholder="#{hero.power}")
        p
          select(name="heroId")
            option= hero._id
        p
        button(type="submit") Submit
            
